<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вакансии</title>
</head>
<body>
    <h2>Аналитика</h2>
    <p>Всего вакансий: {{ total_vacancies }}</p>
    <p>Всего кандидатов: {{ total_candidates }}</p>

    <h1>Список вакансий</h1>
    <ul>
        {% for vacancy in vacancies %}
        <li>
            <a href="{{ vacancy.url }}">{{ vacancy.name }}</a><br>
            Зарплата: от {{ vacancy.salary_from }} до {{ vacancy.salary_to }} {{ vacancy.currency }}<br>
            Работодатель: {{ vacancy.employer }}
        </li>
        {% endfor %}
    </ul>
    {% if not vacancies %}
    <p>Нет вакансий по заданным параметрам.</p>
    {% endif %}
</body>
</html>